CompileFlags:
  CompilationDatabase : .
  Compiler: C:/Users/Admin/scoop/apps/mingw/current/bin/g++.exe
  Add:
    - -std=c++23
    - -I.
    - -Ivyne/runtime
    - -Ivyne/modules

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
