x64/*
*.user
*.filters
*.vcxproj
*.exe
vynec.exe
**/open.bat
.vs/*
vyne-docs/*
.vscode/*
vyne_bin
liburage.so
urage.dll
*.idx
*.dat
lsp/bin/*
*.o
*.dll
editors/vscode/lsp/node_modules/*
editors/vscode/lsp/*.vsix
vynec
tests/assets/*